html{
    height: 100%;
}
body{
    font-family: Georgia;
    display: flex;
    flex-direction: column;
    background-color: #443D36;
    min-height: 100vh;
}
header{
    background-color: #B99175;
    color: #443D36;
    border: 3px solid #443D36;
}
.navbar{
    height: 10vw;
    min-height: 7rem
}
.navbar-nav{
    background-color: #B99175;
    color: #443D36;
    width: fit-content;
}
.logo{
    max-height: 10vw;
    min-height: 6rem;
    height: auto;
    display: block;
    padding: 0.5rem;
}
.title1{
    color: #443D36;
    display: inline-block;
    margin: 0;
    text-align: left;
    font-weight: bold;
}
.title2{
    color: #443D36;
    display: inline-block;
    margin: 0;
    text-align: left;
    font-weight: bold;
}
@media (max-width: 434px) {
  .title1 {
    display: none;
  }
}
@media (min-width: 434px) {
  .title2 {
    display: none;
  }
}
.btn{
    width: 200px;
    height: 50px;
    color: #443D36;
    background-color: #FFF0D8;
    border-color: #443D36;
    border-width: 2px;
    line-height: 2.5;
}
.btn-primary:hover {
  background-color: #FED19C;
  color: #443D36;
  border-color: #443D36;
}
.disabled{
    background-color: #FED19C;
    color: #443D36;
    border-color: #443D36;
}
@media (max-width:992px){
    .menu-btn{
        margin: 1rem;
    }
    .navbar-nav{
        border: 3px solid #443D36;
    }
}
main{
    flex: 1 0 auto;
}
#bg-pic{
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    /*height: 100vh;*/
    min-height: 704px;
    justify-content: center;
    border-right:3px solid #443D36;
    border-left: 3px solid #443D36;
}
 #page-top{
    color: #443D36;
    font-weight: bold;
    padding: 4rem 1rem;
    text-align: center;
}
@media(max-width:576px){
    #page-top{
        font-size: calc(1rem + 2vh);
        padding: 1rem auto;
    }
}
hr {
    
    opacity: 1;
    border: none;
    border-top: 3px solid #443D36;
    margin: 0;
}
.jacket{
    background-color: #B99175;
    color: #443D36;
    padding: 2rem;
    border: 2px solid #443D36;
    width: 60%;
    margin: 1rem 3.5rem;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
@media (max-width: 1079px) {
    .jacket {
        width: 100dvw;
        margin: auto;
    }
}
.nav-pills .nav-link {
  background-color: #FFF0D8;
  color: #443D36;
  border: 2px solid #443D36;
  margin: 0 0.25rem;
}
.nav-pills .nav-link.active{
    background-color: #443D36;
    color: #FFF0D8
}
.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover {
  background-color: #FED19C;
  color: #443D36;
}
#bg-flat{
    background-color: #6C584B;
    color: #FFF0D8;
    outline-color: #443D36;
    border-right:3px solid #443D36;
    border-left: 3px solid #443D36;
}
h2{
    padding: 2rem 0;
}
h3{
    padding: 1rem 0;
}
.cluck-box{
    margin-bottom: 1.5rem;
}
.img-bordered{
    border-left: 1.5px solid #443D36;
    border-right: 1.5px solid #443D36;
    border-top: 1.5px solid #443D36;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    display: block;
}
.text-bg{
    background-color: #FFF0D8;
    color: #443D36;
    padding: 1rem;
    margin: 0 auto 1.5rem auto;
    max-width: 600px;
    border-left: 1.5px solid #443D36;
    border-right: 1.5px solid #443D36;
    border-bottom: 1.5px solid #443D36;
}
@media (max-width: 991px) {
    .text-bg {
        margin: 0 calc(1rem+5vw);
    }
    .img-bordered{
        margin: 0 calc(1rem+5vw);
    }
}
.sub-heading{
    text-align: center;
}
footer{
    background-color: #B99175;
    color: #443D36;
    border: solid 3px #443D36;
    width: 100%;
    position: relative;
    z-index: 1;
}
.footer-link {
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  color: #FFF0D8;
  text-decoration: underline;
}